body {
  background: #1ED660;
  color: white;
}

.container-sm {
  border-color: black;
  border-style: solid;
  border-width: 18px;
  margin-top: 30px;
  background-color: #1b1b1c;
  border-radius: 50px;
  width: 500px;
  height: 1080px;
}

img {
  padding-top: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1 {
  padding-top: 15px;
  text-align: center;
  margin-bottom: 120px;
}

input[type=text] {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 5px 10px;
  box-shadow: #1b1b1c;
  width: 400px;
  outline: none;
  background: #0a0a0a;
  border-radius: 50px;
  height: 50px;
}

input[type=password] {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 5px 10px;
  box-shadow: #1b1b1c;
  width: 400px;
  outline: none;
  background: #0a0a0a;
  border-radius: 50px;
  height: 50px;
}

h5 {
  padding-right: 45px;
  text-align: end;
  padding-top: 20px;
  color: #89898b;
  font-size: 12px;
  margin-bottom: 60px;
}

button {
  border-radius: 30px;
  margin: auto;
  display: block;
  width: 380px;
  height: 60px;
  color: #fff;
  background: linear-gradient(90deg, #1ED660, #08e287);
}

h4 {
  font-size: 14px;
  text-align: center;
  padding-top: 14px;
  color: #1ED660;
}

.facebook {
  display: block;
  height: 12=6%;
  width: 10%;
  border-radius: 20px;
  color: #fff;
}

.Github {
  height: 14%;

}